<!DOCTYPE html>
<head>
<link rel="stylesheet" href="../../stylesheets/home.scss">
<link rel="stylesheet" href="app/assets/stylesheets/users.scss" />
</head>
<!-- style="background-color: #f56f0f -->
<body>
<header class="navbar navbar-fixed-top navbar-inverse navbar-dark bg-primary">
	<div class="navbar-inner">
		<div class="container">
			<nav class="barra-nav">

        <p class="titulo">Empresta UFSCar</p>
				<%= link_to "Emprestar", empresta_path %>
				<%= link_to "Preciso disso",  emprestar_path %>
				<%= link_to "O que emprestei", logout_path %>
				<ul class="pull-right">
					<% if current_user %>
						Logged in as <%= current_user.email %>.
					<%= link_to "Log Out", logout_path %>
					<% else %>
						<%= link_to "Sign Up", signup_path %> or
						<%= link_to "Log In", login_path %>
					<% end %>
				</ul>
			</nav>
		</div>
	</div>
</header> 
<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>
      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="login-page">
      <div class="form">
        <form>
        <div class="arrow_left">
          <%= link_to image_tag("left-arrow.png", size: "16x16",class: "arrow_left") ,products_path %>
        </div>
          <div class="form-group">
          <label>Nome</label>
            <%= form.text_field :name, class: 'form-control' %>
          </div>
          <div class="form-group">
          
          <label>Url</label>
            <%= form.text_field :url, type: "file", accept:"image/x-png,image/gif,image/jpeg" %>
          </div>
          <div class="form-group">
            <label>Descrição</label>
            <textarea rows="3"
              <%= form.text_field :description, class: 'form-control' %>
            </textarea>
          </div>     
          <div class="actions">
          <%= form.submit 'Criar Produto', class: 'btn btn-primary' %>
        </div>     
        </form>
      </div>
    </div>
  <% end %>


