<link rel="stylesheet" href="app/assets/stylesheets/products.scss" /> 

<p id="notice"><%= notice %></p>

<h1 style="text-align: center;">Produtos</h1>
    
    <div id="main">

        <% @products.each do |product| %>

        <div class="container-card">
            <div class="card" style="width: 18rem;">
                <%= link_to image_tag("ufszinha.jpg", size: "165x120")  %>
                <div class="card-body" style="margin-left: 10px; margin-right: 10px;">
                    <h3 class="card-title" style="text-align: center;"> <%= product.name %> </h3>
                    <!-- <div align="center"> <a href="#" class="btn btn-primary"> Go somewhere </a> </div> -->
                </div>
            </div>

            <div class="card-descricao">
                <p class="card-text"> <%= product.description %> </p>
            </div>
        </div>

        <% end %>
    
    </div>
<br>

<div align="center"><%= link_to 'New Product', new_product_path %> </div>
